body {
  font-family: Arial, sans-serif;
  background-color: #292929; /* change background color to dark theme */
  color: #fff; /* change text color to white */
}

textarea {
  width: 100%;
  max-width: 600px;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  background-color: #222; /* change input box background color */
  color: #fff; /* change input box text color to white */
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

#output {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #222; /* change output box background color */
  color: #fff; /* change output box text color to white */
  height: 150px;
  width: 600px; /* set output box width to 600px */
}

#output.empty {
  display: none;
}

.copy-button {
  background-color: #4CAF50; /* keep the green color for the copy button */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.copy-button:hover {
  background-color: #3e8e41;
}
